# Documentation about CODEOWNERS file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Technical authors will be requested for review when someone opens a
# pull request, unless a later match takes precedence.
* @s-makin @rkratky

# MIR team PR approvals required their docs:
# - The team owns everything under any MIR/ directory anywhere in the repo
# - Team's ack is required for changes to the CODEOWNERS file
MIR/ @slyon @setharnold @joalif @didrocks @cpaelzer
/.github/CODEOWNERS @slyon @setharnold @joalif @didrocks @cpaelzer
